
/* ========== ALKALMAZÁS SZERŰ UI - KEZDETE ========== */

/* Alapértelmezett: összes elem nem selectable */
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* KIVÉTEL: Input és Textarea elemek szövege SELECTABLE */
input,
textarea,
input::placeholder,
[contenteditable="true"] {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

/* ========== ALKALMAZÁS SZERŰ UI - VÉGE ========== */
